/* Remove a formatação padrão do navegador */
* {
  margin: 0; /*margin zero*/
  padding: 0; /*espaçamento zero*/
}

/* Fontes */
  @font-face {
  font-family: "roboto"; /*fonte da letra*/
  src: url(/fontes/Roboto/Roboto-Regular.ttf); /*fontes*/

  font-family: "montserrat";
  src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf); /*fontes*/
}

/* Paleta de Cores */
:root {
  --azulEscuro: #0C1D25; /*deixa a cor gravada*/
  --azulClaro: #104C64; /*deixa a cor gravada*/
  --laranja: #BF4410; /*deixa a cor gravada*/
}

/* html */
html {
  height: 100%; /*altura*/
}

body {
  background-color: #0C1D25; /*cor de fundo*/
  font-family: "roboto", "montserrat", sans-serif; /*fonte específica*/
}

/* Nav */
nav {
  background-color: #50505019; /*cor de fundo para o nav*/
}

/* Header */
.banner img {
  width: 100%; /*largura*/
  margin-top: -20px; /*faz subir para cima quando usamos número negativo*/
}

.navbar-nav .nav-link {
  color: white; /*cor principal*/
  font-size: 24px; /*tamanho da fonte*/
  font-weight: lighter; /* Mais leve que h1, que pode ser 400 */
  margin: 0 20px 0 0; /*define a margin*/
}

.navbar-nav .nav-link:hover {
  color: #929292; /*cor principal*/
  text-decoration: underline; /* Sublinhado para links */
}

.barraOculta {
  height: 100%; /*altura*/
  width: 0; /*largura*/
  position: fixed; /*fixar a posição*/
  z-index: 1; /*um valor positivo que coloca o elemento acima dos elementos com z-index menor.*/
  top: 0; /*topo*/
  left: 0; /*esquerda*/
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com opacidade */
  overflow-x: hidden; /*tira a barra de rolagem horizontal*/
  transition: 0.5s; /* Transição com função de tempo */
  padding-top: 60px; /*espaço para cima*/
}

.barraOculta a {
  padding: 8px 8px 8px 32px; /*espaço*/
  text-decoration: none; /*tira o sublinhado*/
  font-size: 25px; /*tamanho da fonte*/
  color: #818181; /*cor principal*/
  display: block; /*exibe como bloco*/
  transition: 0.3s; /*Transição com função de tempo*/
}

.barraOculta a:hover {
  color: red; /*cor principal*/
}

.barraOculta .fecharBarraOculta {
  position: absolute; /*O elemento é posicionado absolutamente */
  top: 0; /*topo*/
  right: 25px; /*direita*/
  font-size: 36px; /*tamanho da fonte*/
  margin-left: 50px; /*leva para a esquerda*/
}

/* Responsividade - Barra Oculta */
@media screen and (max-height: 450px) {
  .barraOculta {
    padding-top: 15px; /*espaço para cima*/
  }

  .barraOculta a {
    font-size: 18px; /*tamanho da fonte*/
  }
}

/* Barra de Pesquisa */
.search {
  --input-line: white; /*cor da linha*/
  --input-text-color: white; /*cor do texto*/
  --input-text-hover-color: transparent; /*cor transparente*/
  --input-bg-color: #ffffff30; /*cor*/
  --search-max-width: 250px; /*largura máxima da barra de pesquisa*/
  --search-min-width: 150px; /*largura mínima da barra de pesquisa*/
  --border-radius: 10px; /*tamanho da borda*/
  --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1); /*transição*/
}

.search-box {
  max-width: var(--search-max-width); /*largura máxima da barra de pesquisa*/
  min-width: var(--search-min-width); /*largura mínima da barra de pesquisa*/
  height: 35px; /*altura*/
  border-radius: var(--border-radius); /*tamanho da borda gravada*/
  padding: 5px 15px; /*espaçamento*/
  background: var(--input-bg-color); /*cor de fundo*/
}
/*Sessão do input*/
.search-field {
  position: relative; /*posição*/
  width: 100%; /*largura*/
  height: 100%; /*altura*/
  left: -5px; /*esquerda*/
  margin-left: 1%; /*margin à esquerda*/
  --input-bg-color: #ffffff00; /*cor gravada*/
  border: 0; /*borda zero*/
}
.input {
  width: calc(100% - 29px); /*largura - altera conforme fica bom*/
  height: 100%; /*altura*/
  border: 0; /*borda zero*/
  border-color: transparent; /*cor da borda transparente*/
  font-size: 1rem; /*tamanho da fonte*/
  padding-right: 0px; /*espaçamento à direita*/
  color: var(--input-line); /*cor gravada*/
  background: var(--input-bg-color); /*cor de fundo gravada*/
}
/*Botão de pesquisa*/
.search-box-icon {
  width: 52px; /*largura*/
  height: 35px; /*altura*/
  position: absolute; /*posição*/
  top: -6px; /*topo*/
  right: -21px; /*direita*/
  background: transparent; /*cor de fundo transparente*/
  border-bottom-right-radius: var(--border-radius); /*borda abaixo à direita gravada*/
  border-top-right-radius: var(--border-radius); /*borda a cima à direita gravada*/
}
.btn-icon-content {
  height: 35px; /*altura*/
  top: -6px; /*topo*/
  background: transparent; /*cor de fundo transparente*/
  border: none; /*sem borda*/
  cursor: pointer; /*ao passar o cursor por cima*/
  border-bottom-right-radius: var(--border-radius); /*borda abaixo à direita gravada*/
  border-top-right-radius: var(--border-radius); /*borda a cima à direita gravada*/
}
.btn-icon-content:hover {
  opacity: .8; /*opacidade*/
}
.search-icon {
  width: 21px; /*largura*/
  height: 21px; /*altura*/
  position: absolute; /*posição*/
  top: 7px; /*topo*/
  right: 15px; /*direita*/
}
.nome {
  color: white; /*cor principal*/
  font-size: 50px; /*tamanho da fonte*/
  margin-top: 16%; /*margin para cima*/
  margin-left: 16%; /*margin para a esquerda*/
}

.linha_horizontal {

  height: 1px; /* Define a altura da linha */
  width: 80%; /*largura*/
  color: white; /*cor*/
}
.tudo {
  margin-left: 16%; /*margin para a esquerda*/
  margin-top: 3%; /*margin para cima*/
}

.loc1, .loc2, .loc3, .loc4, .loc5, .loc6 {
  background-color: rgb(201, 201, 201); /* Fundo branco */
  width: 80%; /*largura*/
  border-radius: 20px; /* Bordas arredondadas */
  padding: 5px; /* Espaçamento interno reduzido */
  margin-bottom: 10px; /* Espaçamento entre seções */
}

.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6 {
  margin-left: 23%; /*margin para a esquerda*/
  margin-top: -110px; /* Próximo do topo */
  padding-top: 2px; /* Espaço acima do título reduzido */
}

.subtitulo1, .subtitulo2, .subtitulo3, .subtitulo4, .subtitulo5, .subtitulo6 {
  margin-left: 23%; /*margin para a esquerda*/
  padding-top: 2px; /* Espaço acima do subtítulo */
}

.data1, .data2, .data3, .data4, .data5, .data6 {
  color: #BF4410; /*cor*/
  margin-left: 88%; /*margin para a esquerda*/
  font-size: 20px; /*tamanho da fonte*/
  margin-top: -20px; /* Espaço acima da data reduzido */
}

/* Espaçamento entre as linhas horizontais */
.linha_horizontal {
  margin: 10px 0; /* Ajuste o valor conforme necessário para espaçamento */
}

/* Footer */
footer {
  text-align: center; /*alinha o texto para o centro*/
  bottom: 0; /*borda zero*/
  width: 100%; /*largura*/
}
.rodapeSuperior {
  padding: 20px; /*espaçamento*/
}
.rodapeInferior {
  background-color: #104C64; /*cor de fundo*/
}
.rodapeInferior p {
  color: white; /*cor*/
  margin: 0; /*margin zero*/
}
/* Fim do footer */
/* Estilo para o conteúdo do menu hambúrguer */
#navbarNav {
  padding: 20px; /*espaçamento*/
  text-align: center; /*alinha o texto para o centro*/
}

/* Estilo para mobile */
@media (max-width: 768px) {
  #navbarNav {
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com opacidade apenas para mobile */
  }

  /* Ajuste para links no menu */
  .navbar-nav .nav-link {
    color: white; /* Cor dos links */
    font-weight: lighter; /*afina a letra em alguns sentidos*/
    margin: 10px 0; /* Espaçamento vertical entre os links */
  }

  .search {
     margin-left: 6%; /*margin para a esquerda*/
  }
}

/* Estilo da barra de pesquisa */
form.d-flex {
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.navbar-toggler-icon {
  background-color: var(--laranja); /*cor de fundo gravada*/
}

/* Trabalhando com a responsividade de telas */
@media screen and (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 18px; /* Ajuste o tamanho da fonte no menu */
  }

  .nome {
    font-size: 30px; /* Reduz o tamanho do nome */
    margin-top: 10%; /* Ajusta a margem superior */
    margin-left: 5%; /* Ajusta a margem esquerda */
  }

  .tudo {
    margin-left: 5%; /* Ajusta a margem para mobile */
    margin-top: 5%; /* Ajusta a margem superior */
    width: 90%; /* Define a largura da seção */
  }

  .loc1, .loc2, .loc3, .loc4, .loc5, .loc6 {
    width: 100%; /* Faz com que as seções ocupem toda a largura */
    padding: 10px; /* Ajusta o padding interno */
  }

  /* Títulos e subtítulos nas caixas */
  .titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6 {
    font-size: 15px; /* Diminui o tamanho do título */
    margin-top: -17%; /*margin para cima*/
  }

  .subtitulo1, .subtitulo2, .subtitulo3, .subtitulo4, .subtitulo5, .subtitulo6 {
    font-size: 13px; /* Diminui o tamanho do subtítulo */
  }

  /* Datas */
  .data1, .data2, .data3, .data4, .data5, .data6 {
    font-size: 16px; /* Diminui o tamanho da data */
  }

  /* Logo */
  .navbar-brand img {
    max-width: 120px; /* Ajuste o tamanho da logo */
    height: auto; /* Mantém a propor/ção da logo */
  }

  .linha_horizontal {
    width: 100%; /*largura*/
  }

  .nome {
    margin-top: 30%; /*margin para cima*/
  }
}
/* Fim de trabalhando com a responsividade de telas */