/* Remove a formatação padrão do navegador */
* {
  margin: 0; /*margin zero*/
  padding: 0; /*espaçamento zero*/
}

/* Fontes */
@font-face {
  font-family: "roboto"; /*estilo de fonte*/
  src: url(/fontes/Roboto/Roboto-Regular.ttf); /*fontes*/

  font-family: "montserrat";
  src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf); /*fontes*/
}

/* html */
html {
  height: 100%; /*altura*/
}

.fonte-zero{
  font-size: 0px; /*tamanho da fonte*/
  padding: 0px; /*espaçamento*/
  opacity: 0; /*opacidade zero*/
  float: none; /*sem float*/
  border: 0px; /*borda zero*/
  display: none; /*sem display*/
}

body {
  background-color: #0C1D25; /*cor de fundo*/
  overflow: hidden; /*tira a barra de rolagem horizontal*/
  overflow-y: auto; /*coloca a barra de rolagem vertical*/
  font-family: "roboto", "montserrat", sans-serif; /*fonte específica*/
}

/* Header */
.banner img {
  width: 100%; /*largura*/
  margin-top: -100px; /*margin para cima*/
}

/* Nav */
nav {
  background-color: #0c1d2552; /*cor de fundo*/
}

.navbar-nav .nav-link {
  color: white; /*cor*/
  font-size: 24px; /*tamanho da fonte*/
  font-weight: lighter; /*afina a letra e outros*/
  margin: 0 20px 0 0; /*margin com valores*/
}

.navbar-nav .nav-link:hover {
  color: #929292; /*cor*/
  text-decoration: underline; /*são posicionados abaixo e acima do texto*/
}

/* Adiciona estilos que só afetam telas menores (mobile) */
@media (max-width: 768px) {

  /* Centralizar o conteúdo dentro do menu burguer */
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro */
    text-align: center; /*alinha o texto para o centro*/
    border-radius: 20px; /* Centraliza o conteúdo do menu */
    padding: 20px; /*espaçamento*/
    margin-top: -13%; /*margin para cima*/
  }

  .navbar-nav {
    margin: 0 auto; /* Certifica que os links estarão centralizados */
  }

  .navbar-toggler {

    background-color: #bf451070; /*cor de fundo*/

  }

  .navbar-nav .nav-item {
    margin-bottom: 6px; /* Espaço entre os itens do menu */
  }

  /* Centralizar barra de pesquisa no mobile */
  .search {
    width: 56%; /*largura*/
    margin-left: 7%; /*margin para a esquerda*/
    margin-bottom: 20px; /* Ajusta o espaço inferior no mobile */
  }

  .search-box {
    display: flex; /*deixa certinho*/
    justify-content: center; /* Centraliza a barra de pesquisa */
  }

  .search-field {
    width: 90%; /* Largura da barra de pesquisa no mobile */
    max-width: 400px; /* Limite de largura para telas um pouco maiores */
  }

  .search-box-icon {
    margin-left: 10px; /*margin para a esquerda*/
  }
}

.barraOculta {
  height: 100%; /*altura*/
  width: 0; /*largura*/
  position: fixed; /*posição*/
  z-index: 1; /*altera a ordem padrão das camadas do html*/
  top: 0; /*topo zero*/
  left: 0; /*esquerda zero*/
  background-color: #111; /*cor de fundo*/
  overflow-x: hidden; /*tira a barra de rolagem horizontal*/
  transition: 0.5s; /*transição*/
  padding-top: 60px; /*espaçamento para cima*/
}

.barraOculta a {
  padding: 8px 8px 8px 32px; /*espaçamento*/
  text-decoration: none; /*ele tira o sublinhado*/
  font-size: 25px; /*tamanho da fonte*/
  color: #818181; /*cor*/
  display: block; /*deixa em bloco*/
  transition: 0.3s; /*transição*/
}

.barraOculta a:hover {
  color: red; /*cor*/
}

.barraOculta .fecharBarraOculta {
  position: absolute; /*posição*/
  top: 0; /*topo zero*/
  right: 25px; /*direita*/
  font-size: 36px; /*tamanho da fonte*/
  margin-left: 50px; /*margin para a esquerda*/
}

/* Responsividade - Barra Oculta */
@media screen and (max-height: 450px) {
  .barraOculta {
    padding-top: 15px; /*espaçamento para cima*/
  }

  .barraOculta a {
    font-size: 18px; /*tamanho da fonte*/
  }
}


/* Barra de Pesquisa */
.search {
  --input-line: white; /*cor gravada*/
  --input-text-color: white; /*cor gravada*/
  --input-text-hover-color: transparent; /*cor transparente gravada*/
  --input-bg-color: #ffffff30; /*cor gravada*/
  --search-max-width: 250px; /*máximo de largura da pesquisa*/
  --search-min-width: 150px; /*mínimo de largura da pesquisa*/
  --border-radius: 10px; /*tamanho da borda*/
  --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1); /*transição e outros*/
}

.search-box {
  max-width: var(--search-max-width); /*máximo de largura*/
  min-width: var(--search-min-width); /*mínimo de largura*/
  height: 35px; /*altura*/
  border-radius: var(--border-radius); /*tamanho da borda gravada*/
  padding: 5px 15px; /*espaçamento*/
  background: var(--input-bg-color); /*cor de fundo gravada*/
}
/*Sessão do input*/
.search-field {
  position: relative; /*posição*/
  width: 100%; /*largura*/
  height: 100%; /*altura*/
  left: -5px; /*esquerda*/
  margin-left: 1%; /*margin para a esquerda*/
  --input-bg-color: #ffffff00; /*cor de fundo gravada*/
  border: 0; /*borda zero*/
}

.input {
  width: calc(100% - 29px); /*largura e outros*/
  height: 100%; /*altura*/
  border: 0; /*borda zero*/
  border-color: transparent; /*cor transparente*/
  font-size: 1rem; /*tamanho da fonte*/
  padding-right: 0px; /*espaçamento para a direita*/
  color: var(--input-line); /*cor gravada*/
  background: var(--input-bg-color); /*cor de fundo gravada*/
  outline: none; /*remove o comportamento padrão do browser de adicionar uma borda a um elemento quando ele esta selecionado*/
}
/*Botão de pesquisa*/
.search-box-icon {
  width: 52px; /*largura*/
  height: 35px; /*altura*/
  position: absolute; /*posição*/
  top: -6px; /*topo*/
  right: -21px; /*direita*/
  background: transparent; /*cor transparente*/
  border-bottom-right-radius: var(--border-radius); /*tamanho da borda abaixo para a direita*/
  border-top-right-radius: var(--border-radius); /*tamanho da borda acima para a direita*/
}

.btn-icon-content {
  width: 52px; /*largura*/
  height: 35px; /*altura*/
  top: -6px; /*topo*/
  right: -21px; /*direita*/
  background: transparent; /*cor transparente*/
  border: none; /*sem borda*/
  cursor: pointer; /*ao passar o cursor*/
  border-bottom-right-radius: var(--border-radius); /*tamanho da borda abaixo para a direita*/
  border-top-right-radius: var(--border-radius); /*tamanho da borda acima para a direita*/
  opacity: .4; /*opacidade*/
}

.btn-icon-content:hover {
  opacity: .8; /*opacidade*/
}

.search-icon {
  width: 21px; /*largura*/
  height: 21px; /*altura*/
  position: absolute; /*posição*/
  top: 7px; /*topo*/
  right: 15px; /*direita*/
}

.mais_eventos {
  color: white; /*cor*/
  margin-left: 6%; /*margin para a esquerda*/
  font-size: 66px; /*tamanho da fonte*/
  margin-top: -36%; /*margin para cima*/

}

.paragrafo {

  color: white; /*cor*/
  margin-left: 6%; /*margin para a esquerda*/
  font-size: 30px; /*tamanho da fonte*/
  font-weight: 100; /*seleciona o tamanho fa letra*/
  font-family: inherit; /*estilo de fonte escolhida*/

}

.linha_horizontal {

  height: 1px; /* Define a altura da linha */
  margin: 10px 0; /* Espaçamento acima e abaixo da linha */
  width: 60%; /*largura da linha*/
  color: #ffffff; /* Define a cor da linha */
}

.tudo {

  margin-left: 26%; /*margin para a esqurda*/
  margin-top: 20%; /*margin para cima*/

}

.titulo1 {

  margin-left: 25%; /*margin para a esquerda*/
  margin-top: -16%; /*margin para cima*/
  font-size: 20px; /*tamanho da fonte*/

}

.subtitulo1 {

  margin-left: 25%; /*margin para a esquerda*/
  font-size: 15px; /*tamanho da fonte*/
}

.titulo2 {

  margin-left: 25%; /*margin para a esquerda*/
  margin-top: -16%; /*margin para cima*/
  font-size: 20px; /*tamanho da fonte*/

}

.subtitulo2 {

  margin-left: 25%; /*margin para a esquerda*/
  font-size: 15px; /*tamanho da fonte*/
}

.titulo3 {

  margin-left: 25%; /*margin para a esquerda*/
  margin-top: -16%; /*margin para cima*/
  font-size: 20px; /*tamanho da fonte*/

}

.subtitulo3 {

  margin-left: 25%; /*margin para a esquerda*/
  font-size: 15px; /*tamanho da fonte*/
}

.data1 {

  color: #BF4410; /*cor*/
  margin-left: 88%; /*margin para a esquerda*/
  font-size: 20px; /*tamanho da fonte*/ 
  margin-top: -10%; /*margin para cima*/

}

.data2 {

  color: #BF4410; /*cor*/
  margin-left: 88%; /*margin para a esquerda*/
  font-size: 20px; /*tamanho da fonte*/
  margin-top: -10%; /*margin para cima*/
}

.data3 {

  color: #BF4410; /*cor*/
  margin-left: 88%; /*margin para a esquerda*/
  font-size: 20px; /*tamanho da fonte*/
  margin-top: -10%; /*margin para cima*/
}

.container {
  display: flex; /*flex container*/
  flex-direction: column; /*permite alterar a direção na qual os elementos flex serão exibidos ao longo do eixo principal*/
  width: 300px; /*largura*/
}

.linha {
  display: flex; /*flex container*/
  justify-content: space-between; /*espaço entre*/
  margin: 5px 0; /*margin*/
}

.bloco {
  width: 90px; /*largura*/
  height: 90px; /*altura*/
  display: flex; /*flex container*/
  justify-content: center; /*deixa no centro*/
  align-items: center; /*alinha os items para o centro*/
  color: white; /*cor*/ 
  font-size: 20px; /*tamanho da fonte*/
}

.bloco1 img {
  width: 300px; /*largura*/
  height: 300px; /*altura*/
  white-space: nowrap; /*não deixa quebrar o texto*/
  border-radius: 20px; /*tamanho da borda*/
}

.bloco2 img {
  width: 300px; /*largura*/
  height: 300px; /*altura*/
  white-space: nowrap; /*não deixa quebrar o texto*/
  border-radius: 20px; /*tamanho da borda*/
}

.bloco3 img {
  width: 300px; /*largura*/
  height: 300px; /*altura*/
  white-space: nowrap; /*não deixa quebrar o texto*/
  border-radius: 20px; /*tamanho da borda*/
}

.bloco4 img {
  width: 300px; /*largura*/
  height: 300px; /*altura*/
  white-space: nowrap; /*não deixa quebrar o texto*/
  border-radius: 20px; /*tamanho da borda*/
}

.bloco5 img {
  width: 300px; /*largura*/
  height: 300px; /*altura*/
  white-space: nowrap; /*não deixa quebrar o texto*/
  border-radius: 20px; /*tamanho da borda*/
}

.bloco6 img {
  width: 300px; /*largura*/
  height: 300px; /*altura*/
  white-space: nowrap; /*não deixa quebrar o texto*/
  border-radius: 20px; /*tamanho da borda*/
}

.loc1, .loc2, .loc3 {
  background-color: white; /* Fundo branco */
  width: 60%; /*largura do fundo*/
  padding: 54px; /* Espaçamento interno opcional */
  border-radius: 20px; /* Arredondar os cantos opcional */
  margin-bottom: 10px; /* Espaçamento entre os elementos */
}

.img1, .img2, .img3 {

  width: 110%; /*largura*/
  margin-top: -6.4%; /*margin para cima*/
  margin-left: -8%; /*margin para a esquerda*/

}

.nome1, .nome2, .nome3, .nome4, .nome5, .nome6 {

  font-size: 26px; /*tamanho da fonte*/
  color: white; /*cor*/
  text-align: center; /*alinha o texto para o centro*/
}

/* Estilo para o conteúdo do menu hambúrguer */
#navbarNav {
  padding: 20px; /*espaçamento*/
  text-align: center; /*alinha o texto para o centro*/
}

/* Estilo da barra de pesquisa */
form.d-flex {
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilo para mobile */
/* Responsividade geral para dispositivos móveis */
@media only screen and (max-width: 768px) {

  /* Ajuste da imagem do banner */
  .banner img {
    width: 100%; /*largura*/
    min-height: 60%; /*mínimo de altura*/
    margin-top: -20%; /*margin para cima*/
    object-fit: cover; /*ajuda a manter a imagem coberta (ideal para imagens em background ou banners)*/
    max-width: 140%; /*máximo de largura*/
  }

  /* Ajuste da barra de navegação */
  .navbar-nav .nav-link {
    font-size: 18px; /*tamanho da fonte*/
    margin: 10px 0; /*margin*/
  }

  .navbar-nav {
    text-align: center; /*alinha o texto para o centro*/
  }

  /* Ajuste para a barra de pesquisa */
  .search {
    --search-max-width: 100%; /*máximo de largura da pesquisa*/
    --search-min-width: 80%; /*mínimo de largura da pesquisa*/
  }

  .search-box {
    width: 100%; /*largura*/
    margin: 0 auto; /*margin*/
  }

  /* Ajuste para o título */
  .mais_eventos {
    font-size: 40px; /*tamanho da fonte*/
    text-align: center; /*alinha o texto para o centro*/
    margin-top: 20px; /*margin para cima*/
    margin-right: 11%; /*margin para a direita*/
  }

  .paragrafo {
    font-size: 18px; /*tamanho da fonte*/
    margin: 10px; /*margin*/
    text-align: center; /*alinha o texto para o centro*/
  }

  /* Ajuste do container das imagens */
  .container {
    display: flex; /*flex container*/
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: space-between; /* Espaçamento horizontal entre os itens */
    gap: 20px; /* Espaço entre os blocos de imagens */
  }

 /* Configuração original para desktop */
.bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6 {
  flex: 1 1 calc(33.333% - 20px); /*crescimento, encolhimento e o tamanho base de um item flexível dentro de um container flex*/
  max-width: calc(33.333% - 20px); /*máximo de largura*/
  display: flex; /*flex container*/
  justify-content: center; /*deixa os elementos no centro*/
}

/* Ajuste das imagens */
.bloco1 img, .bloco2 img, .bloco3 img, .bloco4 img, .bloco5 img, .bloco6 img {
  width: 100%; /*largura*/
  height: auto; /*altura*/
  margin-left: 6%; /*margin para a esquerda*/
  border-radius: 15px; /*tamanho da borda*/
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {

  /* Alinhamento em duas linhas de três blocos cada */
  .container {
    display: flex; /*flex container*/
    flex-wrap: wrap; /*quebra para uma nova linha ou coluna quando não há espaço*/
    justify-content: space-between; /*espaço entre*/
  }

  /*Dividindo cada bloco para deixar responsivo*/
  .bloco1 {
    margin-top: -20%; /*margin para cima*/
    margin-left: -20%; /*margin para a esquerda*/
  }

  .nome1 {

   margin-left: -50%; /*margin para a esquerda*/
   margin-top: 47%; /*margin para cima*/
   color: #ff4d00; /*cor*/
   background-color: #000000; /*cor de fundo*/

  }

  .bloco2 {

    margin-top: -23%; /*margin para cima*/
    margin-left: 29%; /*margin para a esquerda*/

  }

  .nome2 {
   
   margin-left: -50%; /*margin para a esquerda*/
   margin-top: 47%; /*margin para cima*/
   color: #ff4d00; /*cor*/
   background-color: #000000; /*cor de fundo*/

  }

  .bloco3 {

    margin-top: -23%; /*margin para cima*/
    margin-left: 70%; /*margin para a esquerda*/

  }

  .nome3 {

  margin-left: -50%; /*margin para a esquerda*/
  margin-top: 47%; /*margin para cima*/
  color: #ff4d00; /*cor*/
  background-color: #000000; /*cor de fundo*/

  }

  .bloco4 {

    margin-top: 1%; /*margin para cima*/
    margin-left: -20%; /*margin para a esquerda*/

  }

  .nome4 {

   margin-left: -50%; /*margin para a esquerda*/
   margin-top: 47%; /*margin para cima*/
   color: #ff4d00; /*cor*/
   background-color: #000000; /*cor de fundo*/

  }

  .bloco5 {

    margin-top: -23%; /*margin para cima*/
    margin-left: 29%; /*margin para a esquerda*/

  }

  .nome5 {

  margin-left: -50%; /*margin para a esquerda*/
  margin-top: 47%; /*margin para cima*/
  color: #ff4d00; /*cor*/
  background-color: #000000; /*cor de fundo*/

  }

  .bloco6 {

    margin-top: -23%; /*margin para cima*/
    margin-left: 70%; /*margin para a esquerda*/

  }

  .nome6 {

  margin-left: -50%; /*margin para a esquerda*/
  margin-top: 47%; /*margin para cima*/
  color: #ff4d00; /*cor*/
  background-color: #000000; /*cor de fundo*/

  }

  /*Fim de dividindo cada bloco para deixar responsivo*/

  /* Ajuste do tamanho da imagem em telas pequenas */
  .bloco1 img, .bloco2 img, .bloco3 img, .bloco4 img, .bloco5 img, .bloco6 img {
    width: 70%; /*largura*/
    margin-left: 0; /*margin para a esquerda*/
  }
}

  .tudo {

    width: 160%; /*largura*/
    margin-top: 3%; /*margin para cima*/
    margin-left: 2%; /*margin para a esquerda*/

  }

  .container {
    width: 100%; /*largura*/
  }

  /* Ajuste do layout das linhas */
  .linha {
    display: flex; /*flex container*/
    flex-direction: column; /*permite alterar a direção na qual os elementos flex serão exibidos ao longo do eixo principal*/
    justify-content: center; /*deixa os elementos no centro*/
    align-items: center; /*alinha os items para o centro*/
  }

  .bloco {
    width: 100%; /*largura*/
    margin: 10px 0; /*margin*/
  }

  /* Ajustes para os subtítulos */
  .subtitulo1, .subtitulo2, .subtitulo3 {
    margin-left: -13%; /*margin para a esquerda*/
    text-align: center; /*alinha o texto para o centro*/
    margin-top: -2%; /*margin para cima*/
    font-size: 13px; /*tamanho da fonte*/
  }

  /* Ajustes para os títulos */
  .titulo1, .titulo2, .titulo3 {
   margin-top: -15%; /*margin para cima*/
   margin-left: 26%; /*margin para a esquerda*/

  }

  .loc1, .loc2, .loc3 {

    padding: 1px; /*espaçamento*/

  }

  /* Ajuste para datas */
  .data1, .data2, .data3 {
    font-size: 16px; /*tamanho da fonte*/
    margin-left: -41%; /*margin para a esquerda*/
    margin-top: 6%; /*margin para cima*/
    margin-bottom: 0; /*margin para baixo*/
    text-align: center; /*alinha o texto para o centro*/
  }

  /* Ajustes para as imagens */
  .img1, .img2, .img3 {

    margin-top: 3%; /*margin para cima*/
    margin-bottom: 0; /*margin para baixo*/
    margin-left: 3%; /*margin para a esquerda*/
    width: 150%; /*largura*/
  }

  /* Ajuste para a barra oculta */
  .barraOculta {
    width: 100%; /*largura*/
  }

  .barraOculta a {
    font-size: 20px; /*tamanho da fonte*/
    text-align: center; /*alinha o texto para o centro*/
  }

  /* Ajuste do rodapé */
  footer {
    width: 100%; /*largura*/
    text-align: center; /*alinha o texto para o centro*/
    margin-top: 6%; /*margin para cima*/
  }

  .rodapeSuperior {
    padding: 10px; /*espaçamento*/
  }

  .rodapeInferior p {
    font-size: 14px; /*tamanho da fonte*/
  }

  .button1 {
   margin-left: 30%; /*margin para a esquerda*/
  }

  .button2 {
   margin-top: -35%; /*margin para cima*/
   margin-right: 4%; /*margin para a direita*/
  }
}

/* Adicionar mídia queries para o botão "Ver tudo" */
@media (max-width: 768px) {
  .dropdown-title { /* Centralizar o botão em telas menores */
    margin-right: auto !important; /*margin para a direita - o !important substitui qualquer outra declaração feita no css, onde quer que esteja na lista de declaração. Ou seja, ele resolve alguns problemas no responsivo também*/
    width: 100px; /* Ajustar o tamanho do botão */
  }
}

/* Esconde o box inicialmente */
.info-box {
  display: none; /*sem display*/
  position: absolute; /*posição*/
  top: 50px; /*topo*/
  right: 0; /*direita*/
  background-color: #fff; /*cor de fundo*/
  border: 1px solid #ccc; /*tamanho da borda com cor*/
  padding: 15px; /*espaçamento*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /*cor e outros*/
  border-radius: 8px; /*tamanho da borda*/
  width: 250px; /*largura*/
  z-index: 1000; /*específica a ordem da pilha de um elemento do anúncio*/
}

/* Estilo para desktop */
@media (min-width: 768px) {

  #abrirConfig:hover+.info-box,
  .info-box:hover {
    display: block; /*deixa em bloco*/
  }
}

/* Footer */
footer {
  text-align: center; /*alinha o texto para o centro*/
  bottom: 0; /*para baixo*/
  width: 125%; /*largura*/
  position: absolute; /*é posicionado em relação ao seu ponto original no fluxo normal da página*/
  position: relative; /*é retirado do fluxo normal da página*/
  margin-left: -13%; /*margin para a esquerda*/
  z-index: 0; /*z-index: 0; Garantir que o conteúdo fique acima do footer */
  /* Colocar atrás do conteúdo */
}

.rodapeSuperior {
  background-color:#0C1D25; /*cor de fundo*/
  padding: 20px; /*espaço*/
  margin: 0; /*margin*/
}

.rodapeInferior {
  background-color:#104C64; /*cor de fundo*/
}

.rodapeInferior p {
  color: white; /*cor*/
  padding: 5px 0; /*espaço*/
  margin: 0; /*margin*/
}

/* Paleta de Cores */
:root {
  --azulEscuro: #0C1D25; /*cor gravada*/
  --azulClaro: #104C64; /*cor gravada*/
}
/* Fim do footer */