/* Fontes */
@font-face {
    font-family: "roboto"; /*estilo de fonte*/
    src: url(/fontes/Roboto/Roboto-Regular.ttf); /*fonte*/
  
    font-family: "montserrat"; /*fonte*/
    src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf); /*fonte*/
  }
  
  /* Paleta de Cores */
  :root {
    --azulEscuro: #0C1D25; /*cor gravada*/
    --azulClaro: #104C64; /*cor gravada*/
    --laranja: #BF4410; /*cor gravada*/
  }

* {
    margin: 0; /*margin zero*/
    padding: 0; /*espaço zero*/
    box-sizing: border-box; /*faz com o que a altura e a largura de um elemento incluam o conteúdo, padding e borda, mantendo o tamanho total conforme definido*/
}

.tudo {
    display: grid; /*organiza e alinha elementos em linhas e colunas*/
    grid-template-columns: 1fr 1fr; /*define o número e a largura das colunas em grid*/
    background-image: url('../imagens/fundoGaleria.jpg'); /*ele coloca a url da imagem desejada*/
    background-size: cover; /*ocupa todo o espaço da imagem*/
    flex-direction: column; /* Uma coluna em telas pequenas */
    background-position: center; /*posição da imagem no centro*/
    height: 100vh; /*altura em vh*/
    filter: contrast(1.3) brightness(1.3) saturate(1.3) blur(-1px); /*filtro na imagem*/
    transition: filter 0.3s ease; /*transição*/
}


/* Trabalhando com a responsividade de telas */
@media (min-width: 768px) {
    .tudo {
        flex-direction: row; /* Duas colunas em telas maiores */
    }
}

.you4 h1 {
    font-size: 50px !important; /* Ajuste conforme necessário */
}
/* Fim de trabalhando com a responsividade de telas */


.class1 {
    display: flex; /*flex container*/
    justify-content: center; /*deixa no centro*/
    flex-direction: column; /*altera a direção dos items de cima para baixo*/
    width: 80%; /*largura*/
    margin: 0 auto; /*margin zero*/
    color: #fff; /*cor*/
}

.class2 {
    display: flex; /*flex container*/
    width: 100%; /*largura*/
    justify-content: center; /*deixa no centro*/
    align-items: center; /*alinha os items para o centro*/
    flex-direction: column; /* Alinha os botões verticalmente */
    overflow-y: hidden; /* Evita barra de rolagem horizontal */
}

h1,
p {
    color: #fff; /*cor*/
    font-family: sans-serif; /*estilo de fonte*/
}

.botao1 button {
    width: 80%; /*largura*/
    cursor: pointer; /*ao passar o cursor*/
    background-color: orangered; /*cor de fundo*/
    border-radius: 10px; /*tamanho da borda*/
    margin-top: 20px; /* Ajustado para diminuir o espaço */
    font-size: 20px; /*tamanho da fonte*/
    margin-top: 20%; /*margin para cima*/
    font-family: sans-serif; /*estilo de fonte*/
    margin-left: 10%; /*margin para a esquerda*/
}

.btn-primary {
    border-color: orangered; /*cor da borda*/
}

.form-control:focus {
    color: #212529; /*cor*/
    background-color: #ffffff00; /*cor de fundo*/
    border-color: orangered; /*cor da borda*/
    outline: 0; /*remove a borda*/
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0); /*aplica uma sombra*/
    color: #fff; /*cor*/
}

.conta {
    font-size: 12px; /* Ajustado para um pouco menor */
    font-weight: 100; /*afina a letra*/
    font-family: inherit; /*estilo de fonte*/
    margin-top: 10px; /* Ajustado para ficar mais próximo */
    margin-left: 3%; /* Ajustado para ficar mais próximo */
}

.pesquisa input {
    background-color: rgba(0, 0, 0, 0.363); /*cor de fundo*/
    color: white; /*cor*/
    border: solid rgba(0, 0, 0, 0); /*cor da borda*/
    font-size: 14px; /*tamanho da fonte*/
    width: 100%; /*largura*/
    font-family: sans-serif; /*estilo de fonte*/
    border-radius: 16px; /*tamanho da borda*/
    margin-bottom: -1px; /* Ajustado para ficar mais próximo */
}

.pesquisa p {
    margin-bottom: 5px; /* Reduz a margem para juntar os campos */
}

.seta-esquerda {
    margin-bottom: 20px; /* Ajustado para ficar mais próximo */
    margin-top: -40%; /* Ajustado para ficar mais próximo */
    font-size: 40px; /*tamanho da fonte*/
}