  /* Fontes */
  @font-face {
    font-family: "roboto"; /*estilo de fonte*/
    src: url(/fontes/Roboto/Roboto-Regular.ttf); /*fonte*/
  
    font-family: "montserrat"; /*fonte*/
    src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf); /*fonte*/
  }
  
  /* Paleta de Cores */
  :root {
    --azulEscuro: #0C1D25; /*cor gravada*/
    --azulClaro: #104C64; /*cor gravada*/
    --laranja: #BF4410; /*cor gravada*/
  }

* {
    margin: 0; /*margin*/
    padding: 0; /*espaço*/
    box-sizing: border-box; /*faz com o que a altura e a largura de um elemento incluam o conteúdo, padding e borda, mantendo o tamanho total conforme definido*/
}

.tudo {
    display: grid; /*organiza e alinha elementos em linhas e colunas*/
    grid-template-columns: 2fr 1fr; /*define o número e a largura das colunas em grid*/
    background-image: url('../imagens/fundoAzul.jpg'); /* Substitua 'fundo.jpg' pelo nome da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /*altura em vh*/
    filter: contrast(1.3) brightness(1.3) saturate(1.3) blur(-1px); /*deixa a imagem mais nítida, mais viva, com filtro e reduz os borrões.*/
    transition: filter 0.3s ease; /*transição e filtro*/

}

.class1 {
    display: flex; /*flex container*/
    justify-content: center; /*deixa no centro*/
    flex-direction: column; /*altera a direção dos items de cima para baixo*/
    width: 80%; /*largura*/
    margin: 0 auto; /*margin*/
    color: #BF4410; /*cor*/
}

.class1 .botaoCadastre {
    width: 26%; /*largura*/
    border-radius: 10px; /*tamanho da borda*/
    background-color: var(--laranja); /*cor de fundo gravada*/
    color: white; /*cor*/
    text-align: center; /*alinha o texto para o centro*/
    height: 26px; /*altura*/
    margin-bottom: 1%; /*margin para baixo*/
    font-weight: bold; /*fonte negrita*/
}

.class2 {
    background-color: rgba(0, 0, 0, 0.44); /* Ajuste a opacidade conforme necessário */
    display: flex; /*flex container*/
    width: 100%; /*largura*/
    justify-content: center; /*deixa no centro*/
    align-items: center; /*alinha os items para o centro*/
}

h1, p {
    color: #fff; /*cor*/
    font-family: sans-serif; /*estilo de fonte*/
}

.botao button {

    width: 70%; /*largura*/
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    background-color: orangered; /* Opcional: cor de fundo ao passar o mouse */
    margin-top: 50%; /*margin para cima*/
    border-radius: 10px; /*tamanho da borda*/
    margin-left: 19%; /*margin para a esquerda*/
    font-size: 20px; /* Tamanho de fonte ainda maior para parágrafos */
}

.botao button:hover { /* Opcional: cor de fundo ao passar o mouse */
    border-color: orangered; /*cor da borda*/
}

.btn-primary {
    border-color: orangered; /*cor da borda*/
}

.form-control {
    background-color: #ffffff00; /* background-clip: padding-box; */
    border: none; /*sem borda*/
    color: #fff; /*cor*/
    border-bottom: 4px solid #ced4da; /*borda para baixo com tamanho e cor*/

}

.form-control:focus {
    color: #212529; /*cor*/
    background-color: #ffffff00; /*cor de fundo*/
    border-color: orangered; /*cor da borda*/
    outline: 0; /*remove a borda*/
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0); /*aplica uma sombra*/
    color: #fff; /*cor*/
}

.entrar {
    padding: 26%; /*Detalhe: para afinar mais a letra, precisa usar a fonte - inherit e colocar a font-weight:100; Isso irá deixar a letra mais fina.*/
}

.pergunta {
    font-family: Arial, Helvetica, sans-serif; /*estilo de fonte*/
    margin-left: 30%; /*margin para a esquerda*/
    margin-top: 2%; /*margin para cima*/
    font-size: 14px; /* Tamanho de fonte ainda menor para parágrafos */

}

.conta {

   font-size: 13px; /* Tamanho de fonte ainda menor para parágrafos */
   margin-left: 13%; /*margin para a esquerda*/
}

/* Trabalhando com a responsividade de telas */
@media (max-width: 1200px) {
    .tudo {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        height: auto; /* Altura automática em telas pequenas */
    }

    .entrar {
        padding: 20%; /* Ajuste do padding para telas menores */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;/* Tamanho de fonte menor para telas pequenas */
    }

    p {
        font-size: 24px; /* Tamanho de fonte menor para parágrafos */
    }

    .botao button {
        font-size: 18px; /* Tamanho de fonte do botão */
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 40px; /* Aumentando a responsividade */
    }

    p {
        font-size: 13px; /* Tamanho de fonte ainda menor para parágrafos */
    }

    .pergunta p {

        font-size: 14px; /* Tamanho de fonte ainda menor para parágrafos */

    }

    .botao button {
        width: 90%; /* Botão ocupa mais espaço em telas muito pequenas */
        margin-left: 13%; /*margin para a esquerda*/

    }

    .conta {

     margin-left: 18%; /*margin para a esquerda*/

    }
}
/* Fim de trabalhando com a responsividade de telas */